
// Facebook

/*

#main .section--share {

    .list__item,
    .list__item--share:hover,
    .list__item--share:active {
        color: #fff;
    }

    .list__item--share-facebook {
        background: #3b5998;
    }

    .list__item--share-facebook:hover,
    .list__item--share-facebook:active {
        background: #243c79;
    }

    // Twitter

    .list__item--share-twitter {
        background: #00abf0;
    }

    .list__item--share-twitter:hover,
    .list__item--share-twitter:active {
        background: #008fe9;
    }

    // Google Plus

    .list__item--share-google-plus {
        background: #cc3d2d;
    }

    .list__item--share-google-plus:hover,
    .list__item--share-google-plus:active {
        background: #b7261a;
    }

    // Email

    .list__item--share-email {
        background: #666;
    }

    .list__item--share-email:hover,
    .list__item--share-email:active {
        background: #555;
    }
}

*/